<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>H264DecodeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E84226F1EE795E600E8266B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E8422881EE795E700E8266B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E8422931EE795E700E8266B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
