<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imageTEst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EBF9EF71F1C547100B20474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBF9F101F1C547200B20474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBF9F1B1F1C547200B20474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
