<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yinpingjiemaqi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E4FEF481F04D8B300E487F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E4FEF611F04D8B300E487F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E4FEF6C1F04D8B300E487F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
