<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ch4-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E6177381EB80EB3001A8E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E6177511EB80EB3001A8E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E61775C1EB80EB3001A8E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
