<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ch6-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E8AFF261EFE4C640073C860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E8AFF3F1EFE4C640073C860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E8AFF4A1EFE4C640073C860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
